<!--category 1 page-->

<!--Calls file with navbar-->
<%- include('layouts/cat1header.ejs') %>

<!-- posts -->
<!-- <h2 style="margin-top: 4rem; margin-bottom: 1.5rem; margin-left: 6rem;">Book Reviews</h2> -->
    <div class="container posts-container scroll" style="width: 900px; height: 730px;">
        <div class="row row-cols-2" style="width: 700px">

            <div class="card post-card mb-5" style="width: 130%; margin-left: 15%;">
                <img src="/img/book2.jpg" class="card-img-top" alt="..." style="height: 450px; width: 350px;">
                <div class="card-body">
                <h5 class="card-title">Harry Potter and the Order of the Phoenx</h5>
                <footer class="blockquote-footer" style="margin-top: .5rem;">By J.K. Rowling</footer>
                <p class="card-text"> Until this book Harry's story was more lighthearted there was some tougher parts in the earlier books but this one has more angst and fustration as Harry gets left in the dark and the minister of magic refuses to believe him and Dombledore.
                    This book isn't my favorite in the series however I still enjoyed it because of Harry's hardships in growing up in a house where he is ridiculed, not having a happy ending, the murderer of his parents rebuilding his army. This book takes the series from more than just being for children as there's some topics and themes that children may not wrap their minds around. 
                </p>
                <p class="card-text"><small class="text-muted">Posted by *User* 12 mins ago </small>
                </p>
                <a class="upvote-button" role="button"><i class="bi bi-arrow-up-square"></i></a>
                <a class="downvote-button" role="button"><i class="bi bi-arrow-down-square"></i></a>
                </div>
            </div>

            <div class="card post-card mb-5" style="width: 130%; margin-left: 15%;">
                <img src="/img/book3.jpg" class="card-img-top" alt="..." style="height: 450px; width: 350px;">
                <div class="card-body">
                <h5 class="card-title">The Name of the Wind</h5>
                <footer class="blockquote-footer" style="margin-top: .5rem;">By Patrick Rothfuss</footer>
                <p class="card-text"> This book follows the life of the main character as he recalls events that happened throught his life. Rothfuss has filled this book with details that you dont catch on the first read, with hidden meanings, foreshadowing, and concealed connections. The third book is still not out yet 
                    after 10 years of the second book release however if you enjoy high fantasy/ heroic fantasy character driven story you should pick this one up.
                </p>
                <p class="card-text"><small class="text-muted">Posted by *User* 13 mins ago</small></p>
                <a class="upvote-button" role="button"><i class="bi bi-arrow-up-square"></i></a>
                <a class="downvote-button" role="button"><i class="bi bi-arrow-down-square"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- categories card -->
    <div class="button-cat-container">
        <a class="button" href="/post" role="button" style="margin-left: 5rem;">New Post
            <i class="bi bi-plus-square button-icon"></i>
        </a>
        <div class="card cats-card" style="width: 20rem; margin-top: 8rem;">
        <div class="card-header text-center">
            Categories
        </div>
        <ul class="list-group list-group-flush text-center">
            <a class="nav-link" href="/cat2" style="margin-top: 1.2rem;">Anime</a>
            <hr>
            <a class="nav-link" href="/feed" style="margin-bottom: 1.2rem;">Most Popular</a>
            
        </ul>
        </div>
    </div>
        

    <!-- my js -->
    <script src="phapp.js"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

