<!--post page-->
<!--Calls file with navbar-->
<%- include('layouts/postheader.ejs') %>

<!-- post -->

  <div class="container new-post-container">
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
      <option selected>Categories: </option>
      <option value="1">Anime</option>
      <option value="2">Book</option>
    </select>

    <input type="text" class="form-control title-form" id="titleInput" placeholder="Enter Title">

    <textarea type="text" class="form-control text-form" id="textInput" placeholder="A penny for your thoughts..."></textarea>

    <a class="button cancel-button" href="/feed" role="button">Cancel</a>

    <a class="button post-button" href="#" role="button">Post</a>

  </div>

 <!-- my js -->
 <script src="phapp.js"></script>
 <!-- Bootstrap -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
