/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:ital,wght@0,300;0,400;1,200&display=swap');

/* Basic style */
body{
    --color-background-primary: #F4E285;
    --color-background-secondary: #456990;
    --color-background-secondary-active: #6692c2;
    --color-font-primary: #456990;
    --color-font-error: #BC4B51;
    --color-btn-primary: #5b8e7d;
    --color-btn-primary-active: #8cb369;
    --color-btn-secondary: #BC4B51;
    --color-btn-secondary-active: #e94c54;
    --border-radius: 12px;
    --button-border-radius: 4px;
    --button-border-width: 2px;

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: #fff;
/* FONT FAMILY TBD */
    /* font-family: ; */
    color: var(--color-font-primary);
}

/* styles buttons on website NOTE: any button using the class "button" will receive this style */
.button{
    display: inline-block;
    background-color: var(--color-btn-primary);
    color: #fff;
    padding: .5rem;
    border-radius: .5rem;
    text-decoration: none;
}


/* styles hover action for buttons on website NOTE: any button using the class "button" will receive this style */
.button:hover {
    display: inline-block;
    background: var(--color-btn-primary-active);
    border: solid;
    border-color: var(--color-btn-primary);
    border-radius: var(--button-border-radius);
    border-width: var(--button-border-width);
    color: #fff;
}

.button-icon{
    font-size: 1.2rem;
    margin-left: .35rem;
    transition: .3s;
    color: #fff;
}

.upvote-button{
    background-color: none;
    border: none;
    color: rgba(73, 68, 68, 0.849);
    text-decoration: none;
    font-size: 1.4rem;
}
.upvote-button:hover{
    background-color: none;
    border: none;
    color: rgb(115, 199, 98);
    text-decoration: none;
}

.downvote-button{
    background-color: none;
    border: none;
    color: rgba(73, 68, 68, 0.849);
    text-decoration: none;
    font-size: 1.4rem;
    margin-left: 1rem;
}
.downvote-button:hover{
    background-color: none;
    border: none;
    color: rgb(92, 143, 189);
    text-decoration: none;
}


/* feed */

h5{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

small{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-style: italic;
}

footer{
    font-family: 'Poppins', sans-serif;
    font-weight: 300, bold;
    font-style: italic;
}

.post-card{
    border: none;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
    font-family: 'Indie Flower', cursive;
}

.button-cat-container{
    margin-left: 60rem;
    margin-top: -33rem;

}

.posts-container{
    margin-left: -2rem;
    margin-top: 5rem;
}

.card{
    background-color: #fff;
    background: rgba(245, 245, 245, 0.959);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}

.post-btn{
    margin-left: 65rem;
    background-color: #456990;
}

.post-btn:hover{
    background-color: #456990;
    color: floralwhite;
}
div.scroll {
    width: 770px;
    height: 650px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    background-color: #fff;
    scrollbar-color: var(--color-background-primary);
    background: transparent;
}

body.feed{
    height:100%;
    background-image: url('/img/feedbkgd.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* cat1 */
body.cat1{
    height:100%;
    background-image: url('/img/bookbkgd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* cat2 */

body.cat2{
    height:100%;
    background-image: url('/img/animebkgd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

body.post{
    height:100%;
    background-image: url('/img/postbkgd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

body.profile{
    height:100%;
    background-image: url('/img/profbkgd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.cat2-cat-container{
    margin-left: 50rem;
    margin-top: -35rem;
}


/* new post */
.new-post-container{
    margin-top: 5rem;
    margin-left: 5rem;
}

.form-select{
    background-color: #fff;
    color: #456990;
    width: 50%;
}
.window-icon{
    font-size: 1.25rem;
    margin-left: .5rem;
    transition: .3s;
    color: #456990;
}

.title-form{
    margin-top: 3rem;
    height: 3rem;
    font-size: large;

}

.text-form{
    margin-top: 3rem;
    height: 20rem;
    font-size: large;
    background: transparent;
    border: none;
}

.text-form::placeholder{
    color: #fff;
}

.cancel-button{
    background-color: #BC4B51;
    color: #fff;
    margin-top: 3rem;
    margin-left: 25rem;
}

.cancel-button:hover{
    display: inline-block;
    background: var(--color-btn-secondary-active);
    border: solid;
    border-color: var(--color-btn-secondary);
    border-radius: var(--button-border-radius);
    border-width: var(--button-border-width);
    color: #fff;
}

.post-button{
    margin-left: 25rem;
    margin-top: 3rem;
    width: 6%;
    text-align: center;
    background-color: #456990;
}

.post-button:hover{
    display: inline-block;
    background: var(--color-background-secondary-active);
    border: solid;
    border-color: var(--color-background-secondary);
    border-radius: var(--button-border-radius);
    border-width: var(--button-border-width);
    color: #fff;
}

.home-button{
    background-color: #456990;
}

.home-button:hover{
    display: inline-block;
    background: var(--color-background-secondary-active);
    border: solid;
    border-color: var(--color-background-secondary);
    border-radius: var(--button-border-radius);
    border-width: var(--button-border-width);
    color: #fff;
}


/* profile */

.profile-container{
    height: auto;
    margin-top: 4rem;
}

.form-control-plaintext{
    margin-top: 10rem;
    font-size: large;
}

.new-post-button{
    background-color: #456990;
}

.new-post-button:hover{
    display: inline-block;
    background: var(--color-background-secondary-active);
    border: solid;
    border-color: var(--color-background-secondary);
    border-radius: var(--button-border-radius);
    border-width: var(--button-border-width);
    color: #fff;
}





/* added to handle profile button */
.feed-nav {
    width: 110%;
    margin-left: -4rem;
    height: 60px;
    background: rgba(245, 245, 245, 0.781);
    display: flex;
    align-items: baseline;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}
.link{
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
}
.link{
    color: var(--color-font-primary);
}
.resize {
    height: 30px;
    width: auto;
}
.nav-item{
    width: 150px;
    text-align: right;
}

/* hides username label on post page */
.userNameLabel {
    display: none;
}

/* formats table and it's container on my posts page */
.tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}
.postMsgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
.table {
    width: 1600px;
    background: rgba(236, 236, 236, 0.644);
    border: solid;
    border-width: 2px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4); 
}
.feedContainer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100;
}
/* transforms scroll bar */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(58, 58, 58, 0.733) rgba(179, 179, 179, 0.589);
  }
  
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgba(179, 179, 179, 0.589);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgba(58, 58, 58, 0.733);
    border-radius: 20px;
    border: 3px solid rgba(179, 179, 179, 0.589);
  }
  

