/* basic style for all pages */
body{
    --color-background-primary: #F4E285;
    --color-background-secondary: #456990;
    --color-font-primary: #456990;
    --color-font-error: #BC4B51;
    --color-btn-primary: #5b8e7d;
    --color-btn-primary-active: #8cb369;
    --color-btn-secondary: #BC4B51;
    --border-radius: 12px;
    --button-border-radius: 4px;
    --button-border-width: 2px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    /* FONT FAMILY TBD */
    /* font-family: ; */
    color: var(--color-font-primary);

    background-image: url('/public/img/books.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* styles container on registration and signin page that holds logo, fields, and registration button */
.registration-container, .signin-container {
    background-color: #fff;
    margin: 1rem;
    padding: 2rem;
    text-align: center;
    border: solid;
    border-color: var(--color-background-secondary);
    border-radius: var(--border-radius);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}
/* styles error messages on forms */
.form-error-msg {
    color: var(--color-font-error);
    font-weight: bold;
}
/* styles focus for form fields */
.form-control:focus {
    border-color:var(--color-background-secondary);
}
/* styles buttons on website NOTE: any button using the class "button" will receive this style */
.button {
    background: var(--color-btn-primary);
    border:none;
    border-radius: var(--button-border-radius);
}
/* styles hover action for buttons on website NOTE: any button using the class "button" will receive this style */
.button:hover {
    background: var(--color-btn-primary-active);
    border: solid;
    border-color: var(--color-btn-primary);
    border-radius: var(--button-border-radius);
    border-width: var(--button-border-width);
}
/* styles container on registration and sign in page that holds image to ensure it's centered even if fields move */
#regImgContainer, #signinImgContainer {
    height: 450px;
    justify-items: center;
    padding: 1rem;
}